{% extends "base.html" %}

{% block content %}
    <div class="container">
        <font face="verdana" size='7'> Mapbox maps in your apps</font> <br/><br/>
        <input class="inputBox" type="text" id="Address" placeholder="Enter Address" />
        <button class="button" onclick="geocodeAddress()">Submit</button>
        <div id='map'></div><br/><br/>
    </div>

    <script>
        function geocodeAddress() {
            var address = document.getElementById("Address").value;
            fetch('https://api.mapbox.com/geocoding/v5/mapbox.places/' + encodeURIComponent(address) + '.json?access_token=pk.eyJ1Ijoia2Vub2JpZXplIiwiYSI6ImNsa2IxbDB0aTA5djEzb28wbHl5NWJvemoifQ.OErQrPGpsGgJ8VyB6sJz8Q')
                .then(response => response.json())
                .then(data => {
                    var longitude = data.features[0].center[0];
                    var latitude = data.features[0].center[1];
                    displayMap(longitude, latitude);
                })
                .catch(error => console.error('Error:', error));
        }

        function displayMap(longitude, latitude) {
            mapboxgl.accessToken = 'pk.eyJ1Ijoia2Vub2JpZXplIiwiYSI6ImNsa2IxbDB0aTA5djEzb28wbHl5NWJvemoifQ.OErQrPGpsGgJ8VyB6sJz8Q';
            var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/satellite-streets-v10',
                center: [longitude, latitude],
                zoom: 12,
                bearing: -17.6,
                pitch: 45
            });

            
            // Add the user's marker (red)
            var userMarker = new mapboxgl.Marker({ color: 'red' })
                .setLngLat([longitude, latitude])
                .addTo(map);

            {% for user in marker_info %}
                var userMarker = new mapboxgl.Marker({ color: 'blue' })
                    .setLngLat([{{ user.location.lng }}, {{ user.location.lat }}])
                    .setPopup(new mapboxgl.Popup().setHTML(`
                        <h3>${user.title} ${user.snippet}</h3>
                        <p>Address: ${user.address}</p>
                        <p>Phone: ${user.phone}</p>
                `   ))
                    .addTo(map);
              {% endfor %}

            // Add click event for the user's marker
            userMarker.setPopup(new mapboxgl.Popup().setHTML(
                `<h3>Your Profile</h3>
                <p>Address: Your Address</p>
                <p>Phone: Your Phone Number</p>`
            ));

            // Add navigation controls
            var nav = new mapboxgl.NavigationControl();
            map.addControl(nav, 'top-left');

            // Add geolocation control
            map.addControl(new mapboxgl.GeolocateControl({
                positionOptions: {
                    enableHighAccuracy: false
                },
                trackUserLocation: false
            }));

            // Add 3D building layer
            map.on('load', function() {
                map.addLayer({
                    'id': '3d-buildings',
                    'source': 'composite',
                    'source-layer': 'building',
                    'filter': ['==', 'extrude', 'true'],
                    'type': 'fill-extrusion',
                    'minzoom': 15,
                    'paint': {
                        'fill-extrusion-color': '#aaa',
                        'fill-extrusion-height': [
                            "interpolate", ["linear"], ["zoom"],
                            15, 0,
                            15.05, ["get", "height"]
                        ],
                        'fill-extrusion-base': [
                            "interpolate", ["linear"], ["zoom"],
                            15, 0,
                            15.05, ["get", "min_height"]
                        ],
                        'fill-extrusion-opacity': 0.6
                    }
                }, 'waterway-label');
            });
        }

        // Initial display with default coordinates
        displayMap();
    </script>
{% endblock %}
